.cat-home-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cat-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.4rem;
    flex-wrap: wrap;
    align-items: center;
    padding: 2.4rem;
}

/* || Card styles  */
.quiz-card {
    color: var(--color-text);
    background-color: var(--color-bg-light);
    padding: 1.6rem;
    border-radius: 5px;
    width: 250px;
    height: 420px;
}

.vertical-card-content {
    border: none;
    padding: 0;
}

.card-title {
    color: var(--color-primary);
    font-weight: bold;
    margin-top: 8px;
}

.card-desc {
    color: inherit;
    font-size: 1.4rem;
    margin-top: 4px;
}

.quiz-card-qns {
    font-size: 1.2rem;
    margin-top: 4px;
}

.quiz-card-btn {
    margin: 8px 0 0 0;
}

.quiz-card-btn:hover {
    background-color: var(--color-primary);
    color: var(--color-bg);
}

/* || Footer  */
.cat-footer {
    font-size: 1.6rem;
    padding: 1.6rem;
    gap: 10px;
}

.footer-list {
    list-style: none;
    width: fit-content;

}

.footer-list-item {
    padding: 8px;
}

.footer-link {
    text-decoration: none;
    color: inherit;
}

.footer-link:hover {
    color: var(--color-primary);
}