/* || Homepage Styles  */
body {
    background-color: var(--color-bg);
    color: var(--color-text);
}

.home-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* || Navbar  */
.qu-nav {
    background-color: inherit;
    width: 100%;
    color: var(--color-text);
    font-size: 2rem;
    padding: 8px 1.6rem;
    flex-wrap: wrap;
}

.qu-nav-logo {
    height: 7rem;
}

.qu-nav-title {
    flex-grow: 1;
    font-size: 3.2rem;
    font-weight: bold;
}

.qu-nav-list-container {
    margin-left: auto;
    margin-right: 4rem;
    flex-wrap: wrap;

}

.qu-nav-list {
    list-style: none;
}

.qu-nav-list-item {
    display: inline-block;
    padding: 1.6rem;
}

.qu-nav-link {
    text-decoration: none;
    color: inherit;
}

.qu-nav-link:hover {
    color: var(--color-primary)
}

.btn-login {
    margin: 0;
}

.btn-login:hover {
    margin: 0;
    background-color: var(--color-primary);
    color: var(--color-bg);
}

.list-item-active {
    color: var(--color-primary);
    background-color: var(--color-bg-light);
    border-radius: 5px;
}

/* || Header  */
.header {
    padding: 2rem 2rem;
}

.header-content {
    padding: 1rem;
    width: 60rem;
}

.header-img-container {
    width: 70rem;
    padding: 1rem;
}

.header-img {
    display: block;
}

.header-content-title {
    font-size: 7rem;
}

.header-content-desc {
    font-size: 2rem;
}

.header-btn {
    margin: 1.6rem 0;
    width: fit-content;
    color: var(--color-bg);
}

.header-btn:hover {
    opacity: 0.9;
    background-color: var(--color-primary);
}

/* || Footer  */
.footer {
    font-size: 1.6rem;
    grid-area: foot;
    padding: 1.6rem;
    gap: 10px;
}

.footer-list {
    list-style: none;
    width: fit-content;

}

.footer-list-item {
    padding: 8px;
}

.footer-link {
    text-decoration: none;
    color: inherit;
}

.footer-link:hover {
    color: var(--color-primary);
}

/* || Media queries  */
@media only screen and (max-width:620px) {

    :root {
        font-size: 55%;
    }

    .home-navbar {
        height: 20rem;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .home-navbar-links-container {
        gap: 3rem;
    }
}

@media only screen and (max-width:320px) {

    :root {
        font-size: 50%;
    }

    .home-navbar {
        height: 25rem;
        gap: 3rem;
    }

    .home-navbar-links-container {
        gap: 5rem;
    }
}